/** ===== RS Blog Posts ===== **/
.rs-blog-posts {
  position: relative;
  --thumb-gap: 30px;
}
.rs-blog-posts .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 30px;
}
.rs-blog-posts svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.rs-blog-posts .blog-post-item {
  display: flex;
  flex-direction: column;
  position: relative;
}
.rs-blog-posts .blog-post-item,
.rs-blog-posts .post-thumbnail img,
.rs-blog-posts .post-thumbnail::before,
.rs-blog-posts .post-content,
.rs-blog-posts .post-title,
.rs-blog-posts .post-excerpt,
.rs-blog-posts .post-read-more {
  transition: 0.3s;
}
.rs-blog-posts .post-thumbnail {
  position: relative;
  overflow: hidden;
  flex: 0 0 auto;
}
.rs-blog-posts .post-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.rs-blog-posts .post-thumbnail::before {
  content: "";
  position: absolute;
  z-index: 2;
  inset: 0;
  background: transparent;
  opacity: 1;
  visibility: visible;
}
.rs-blog-posts .post-content {
  flex-grow: 1;
}
.rs-blog-posts .post-title {
  margin: 0;
}
.rs-blog-posts .post-title a {
  color: inherit;
  transition: none;
}
.rs-blog-posts .title-animated-border {
  position: relative;
  padding-bottom: 22px;
}
.rs-blog-posts .title-animated-border::before, .rs-blog-posts .title-animated-border::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}
.rs-blog-posts .title-animated-border::after {
  background-color: rgb(0, 0, 0);
  width: 70px;
}
.rs-blog-posts .post-excerpt {
  margin: 20px 0 0;
}
.rs-blog-posts .post-read-more {
  display: inline-flex;
  align-items: center;
  color: var(--secondaryColor);
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  margin-top: 15px;
}
.rs-blog-posts .post-read-more .read-more-icon {
  margin-left: 10px;
}
.rs-blog-posts .post-read-more:hover {
  color: var(--primaryColor);
}
.rs-blog-posts .post-meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  line-height: 1;
  transition: 0.3s;
}
.rs-blog-posts .post-meta a {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: var(--bodyColor);
}
.rs-blog-posts .post-meta a:hover {
  color: var(--primaryColor);
}
.rs-blog-posts .post-meta i {
  margin-right: 8px;
}
.rs-blog-posts .post-meta .meta-categories a:not(:last-child)::after {
  content: ", ";
  margin-right: 0.25em;
}
.rs-blog-posts .post-meta .meta-divider {
  width: 10px;
  height: 2px;
  background-color: var(--borderColor);
}
.rs-blog-posts .post-meta .meta-divider:last-child {
  display: none;
}
.rs-blog-posts .post-meta.before-title {
  margin-bottom: 20px;
}
.rs-blog-posts .post-meta.after-title {
  margin-top: 20px;
}
.rs-blog-posts .post-meta.on-thumbnail {
  position: absolute;
  left: 30px;
  top: 30px;
  z-index: 5;
}
.rs-blog-posts .post-meta.on-thumbnail a {
  color: #fff;
}
.rs-blog-posts .blog-post-item:hover .post-thumbnail img {
  transform: scale(1.1);
}
.rs-blog-posts .blog-post-item:hover .title-animated-border::after {
  width: 100%;
}
.rs-blog-posts.style-overly {
  --thumb-gap: 0;
}
.rs-blog-posts.style-overly .post-thumbnail::before {
  background: linear-gradient(180deg, rgba(43, 57, 68, 0) 0%, var(--secondaryColor) 92%);
}
.rs-blog-posts.style-overly .post-content {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 30px;
}
.rs-blog-posts.style-overly .post-content .post-title {
  padding: 0;
}
.rs-blog-posts.style-overly .post-content .post-title::before, .rs-blog-posts.style-overly .post-content .post-title::after {
  display: none;
}
.rs-blog-posts.style-overly .post-title,
.rs-blog-posts.style-overly .post-excerpt,
.rs-blog-posts.style-overly .post-meta a,
.rs-blog-posts.style-overly .post-read-more {
  color: var(--secondaryForegroundColor);
}
.rs-blog-posts.style-overly .post-content-hover {
  position: absolute;
  inset: 0;
  z-index: 3;
  background-color: var(--primaryColor);
  padding: 30px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}
.rs-blog-posts.style-overly .post-read-more {
  margin-top: auto;
}
.rs-blog-posts.style-overly .blog-post-item:hover .post-content-hover {
  opacity: 1;
  visibility: visible;
}

.rs-thumb-top .blog-post-item {
  flex-direction: column;
}
.rs-thumb-top .blog-post-item .post-thumbnail {
  margin: 0 0 var(--thumb-gap);
  width: 100%;
}

.rs-thumb-left .blog-post-item {
  flex-direction: row;
  align-items: center;
}
.rs-thumb-left .blog-post-item .post-thumbnail {
  margin: 0 var(--thumb-gap) 0 0;
  width: 40%;
}

.rs-thumb-right .blog-post-item {
  flex-direction: row-reverse;
  align-items: center;
}
.rs-thumb-right .blog-post-item .post-thumbnail {
  margin: 0 0 0 var(--thumb-gap);
  width: 40%;
}

@media (max-width: 1366px) {
  .rs-laptop-thumb-top .blog-post-item {
    flex-direction: column;
  }
  .rs-laptop-thumb-top .blog-post-item .post-thumbnail {
    margin: 0 0 var(--thumb-gap);
    width: 100%;
  }
  .rs-laptop-thumb-left .blog-post-item {
    flex-direction: row;
    align-items: center;
  }
  .rs-laptop-thumb-left .blog-post-item .post-thumbnail {
    margin: 0 var(--thumb-gap) 0 0;
    width: 40%;
  }
  .rs-laptop-thumb-right .blog-post-item {
    flex-direction: row-reverse;
    align-items: center;
  }
  .rs-laptop-thumb-right .blog-post-item .post-thumbnail {
    margin: 0 0 0 var(--thumb-gap);
    width: 40%;
  }
}
@media (max-width: 1200px) {
  .rs-tablet_extra-thumb-top .blog-post-item {
    flex-direction: column;
  }
  .rs-tablet_extra-thumb-top .blog-post-item .post-thumbnail {
    margin: 0 0 var(--thumb-gap);
    width: 100%;
  }
  .rs-tablet_extra-thumb-left .blog-post-item {
    flex-direction: row;
    align-items: center;
  }
  .rs-tablet_extra-thumb-left .blog-post-item .post-thumbnail {
    margin: 0 var(--thumb-gap) 0 0;
    width: 40%;
  }
  .rs-tablet_extra-thumb-right .blog-post-item {
    flex-direction: row-reverse;
    align-items: center;
  }
  .rs-tablet_extra-thumb-right .blog-post-item .post-thumbnail {
    margin: 0 0 0 var(--thumb-gap);
    width: 40%;
  }
}
@media (max-width: 1024px) {
  .rs-tablet-thumb-top .blog-post-item {
    flex-direction: column;
  }
  .rs-tablet-thumb-top .blog-post-item .post-thumbnail {
    margin: 0 0 var(--thumb-gap);
    width: 100%;
  }
  .rs-tablet-thumb-left .blog-post-item {
    flex-direction: row;
    align-items: center;
  }
  .rs-tablet-thumb-left .blog-post-item .post-thumbnail {
    margin: 0 var(--thumb-gap) 0 0;
    width: 40%;
  }
  .rs-tablet-thumb-right .blog-post-item {
    flex-direction: row-reverse;
    align-items: center;
  }
  .rs-tablet-thumb-right .blog-post-item .post-thumbnail {
    margin: 0 0 0 var(--thumb-gap);
    width: 40%;
  }
}
@media (max-width: 767px) {
  .rs-mobile-thumb-top .blog-post-item {
    flex-direction: column;
  }
  .rs-mobile-thumb-top .blog-post-item .post-thumbnail {
    margin: 0 0 var(--thumb-gap);
    width: 100%;
  }
  .rs-mobile-thumb-left .blog-post-item {
    flex-direction: row;
    align-items: center;
  }
  .rs-mobile-thumb-left .blog-post-item .post-thumbnail {
    margin: 0 var(--thumb-gap) 0 0;
    width: 40%;
  }
  .rs-mobile-thumb-right .blog-post-item {
    flex-direction: row-reverse;
    align-items: center;
  }
  .rs-mobile-thumb-right .blog-post-item .post-thumbnail {
    margin: 0 0 0 var(--thumb-gap);
    width: 40%;
  }
}