.prelements-heading .title-inner {
  position: relative;
}
.prelements-heading .title-inner .title {
  margin-bottom: 11px;
  stroke: var(--titleColor);
  -webkit-text-stroke-color: var(--titleColor);
}
.prelements-heading .title-inner .title span {
  color: var(--primaryColor);
  position: relative;
  z-index: 2;
  stroke: var(--primaryColor);
  -webkit-text-stroke-color: var(--primaryColor);
}
.prelements-heading .title-inner .title.static-scale-y > div {
  display: inline-block;
  transition: transform 0.4s ease;
  transform-origin: bottom center;
  vertical-align: bottom;
}
.prelements-heading .title-inner .title.static-scale-y > div:hover {
  transform: scaleY(1.4) !important;
}
.prelements-heading .title-inner .title a {
  color: #333;
}
.prelements-heading .title-inner span.sub-text {
  display: inline-block;
  color: var(--titleColor);
  font-weight: 500;
  margin-bottom: 14px;
  position: relative;
}
.prelements-heading .title-inner span.sub-text.overlay-yes::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background: var(--whiteColor);
  border-radius: 30px;
  z-index: -11;
}
.prelements-heading .title-inner span.sub-text img {
  width: 24px;
  height: 24px;
  margin-right: -2px;
}
.prelements-heading .title-inner span.sub-text svg {
  width: 13px;
  height: 15px;
  margin: 0 3px 2px 0;
}
.prelements-heading .descripti p {
  margin-bottom: 10px;
}
.prelements-heading.gradient-yes .title-inner .title:not(.rs-split-text-enable) span {
  background: linear-gradient(45deg, var(--primaryColor) 0%, var(--secondaryColor) 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.prelements-heading.gradient-yes .title-inner .title.rs-split-text-enable span > div {
  background: linear-gradient(45deg, var(--primaryColor) 0%, var(--secondaryColor) 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.prelements-heading.draw-line.animate-height .title-inner .title {
  position: relative;
  padding-left: 18px;
}
.prelements-heading.draw-line.animate-height .title-inner .title:after {
  position: absolute;
  content: "";
  left: 0;
  background: var(--primaryColor);
  transition: var(--transition);
  top: 50%;
  height: 0;
  transform: translateY(-50%);
  width: 8px;
}
.prelements-heading.draw-line.animate-height.start-draw .title-inner .title:after {
  height: 100%;
}
.prelements-heading.draw-line.animate-width .title-inner {
  padding: 18px 0 18px 18px;
  position: relative;
}
.prelements-heading.draw-line.animate-width .title-inner > * {
  position: relative;
  z-index: 1;
}
.prelements-heading.draw-line.animate-width .title-inner:after {
  position: absolute;
  content: "";
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  top: 0;
  bottom: 0;
  width: 0;
}
.prelements-heading.draw-line.animate-width.start-draw .title-inner:after {
  width: 150px;
}
.prelements-heading.video-clipping .title-inner {
  display: inline-block;
}
.prelements-heading.video-clipping .title-inner video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.video-in-text {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.masked-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask: url(#text-mask);
  -webkit-mask: url(#text-mask);
}